<p>
  <strong>Name:</strong>
  <%= @craft.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @craft.description %>
</p>
<%= form_for(@craft) do |f| %>
  <%= f.text_field :tag_list, placeholder: 'tags' %>
<% end %>
<% @craft.tags.each do |tag| %>
  <p><%= tag.name %></p>
<% end %>

<a onclick=<%= "downloadCraft(\"#{@craft.id}\")" %>>download</a>

<%= link_to 'Edit', edit_craft_path(@craft) %> |
<%= link_to 'Back', crafts_path %>
